<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialDevicesWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialDevicesWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <SerialDevicesWin.Properties.Settings>
            <setting name="aisPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="dtpPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="msrPortName" serializeAs="String">
                <value />
            </setting>
        </SerialDevicesWin.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SerialDevicesWin.Properties.Settings>
            <setting name="KioskID" serializeAs="String">
                <value>HILTON</value>
            </setting>
            <setting name="OracleConnection" serializeAs="String">
                <value>DATA SOURCE=52.231.33.235;User Id=SYSTEM;Password=sys1234;</value>
            </setting>
            <setting name="OracleConnection2" serializeAs="String">
                <value>DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=52.231.33.235)(PORT=1521))(CONNECT_DATA=(SID=xe)));User Id=SYSTEM;Password=sys1234;</value>
            </setting>
        </SerialDevicesWin.Properties.Settings>
    </applicationSettings>
</configuration>